.feedback {
    --normal: #ECEAF3;
    --normal-shadow: #D9D8E3;
    --normal-mouth: #9795A4;
    --normal-eye: #595861;
    --active: #F8DA69;
    --active-shadow: #F4B555;
    --active-mouth: #F05136;
    --active-eye: #313036;
    --active-tear: #76b5e7;
    --active-shadow-angry: #e94f1d;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
        position: relative;
        border-radius: 50%;
        background: var(--sb, var(--
        normal));
        box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
        transition: background .4s, box-shadow .4s, transform .3s;
        -webkit-tap-highlight-color: 
  transparent;
        &:not(:last-child) {
            margin-right: 20px;
        }
        div {
            width: 40px;
            height: 40px;
            position: relative;
            transform: perspective(240px) translateZ(4px);
            svg,
            &:before,
            &:after {
                display: block;
                position: absolute;
                left: var(--l, 9px);
                top: var(--t, 13px);
                width: var(--w, 8px);
                height: var(--h, 2px);
                transform: rotate(var(-- 
                r, 0deg)) scale(var(--sc, 1)) translateZ(0);
            }
            svg {
                fill: none;
                stroke: var(--s);
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
                transition: stroke .4s;
                &.eye {
                    --s: var(--e, var(--normal-eye));
                    --t: 17px;
                    --w: 7px;
                    --h: 4px;
                    &.right {
                        --l: 23px;
                    }
                }
                &.mouth {
                    --s: var(--m, var(--normal-mouth));
                    --l: 11px;
                    --t: 23px;
                    --w: 18px;
                    --h: 7px;
                }
            }
            &:before,
            &:after {
                content: '';
                z-index: var(--zi, 1);
                border-radius: var(--br, 1px);
                background: var(--b, var(--e, var(--normal-eye)));
                transition: background .4s;
            }
        }
        &.angry {
            --step-1-rx: -24deg;
            --step-1-ry: 20deg;
            --step-2-rx: -24deg;
            --step-2-ry: -20deg;
            div {
                &:before {
                    --r: 20deg;
                }
                &:after {
                    --l: 23px;
                    --r: -20deg;
                }
                svg {
                    &.eye {
                        stroke-dasharray: 4.55;
                        stroke-dashoffset: 8.15;
                    }
                }
            }
            &.active {
                animation: angry 1s linear;
                div {
                    &:before {
                        --middle-y: -2px;
                        --middle-r: 22deg;
                        animation: toggle .8s linear forwards;
                    }
                    &:after {
                        --middle-y: 1px;
                        --middle-r: -18deg;
                        animation: toggle .8s linear forwards;
                    }
                }
            }
        }
        &.sad {
            --step-1-rx: 20deg;
            --step-1-ry: -12deg;
            --step-2-rx: -18deg;
            --step-2-ry: 14deg;
            div {
                &:before,
                &:after {     